.env
__pycache__/
*.db
*.pid
Scripts/net/DCSServerBot/DCSServerBotConfig.lua
*.csv
.stignore
/venv/
/.idea/
/test/
/reports/
/export/
/plugins/test/
/plugins/community/
/plugins/santaclaus/
/build/
/fonts/
/Music/
/logs/
/config/
config
/.emmyrc.json
