.env
__pycache__/
*.db
config/dcsserverbot.ini
config/*.json
config/*.yaml
config/*.lua
config/plugins/*.yaml
config/services/*.yaml
config/backup/*
Scripts/net/DCSServerBot/DCSServerBotConfig.lua
*.csv
.stignore
/venv/
/.idea/
/test/
/reports/
/export/
/plugins/test/
/build/
/fonts/
/Music/
/logs/
