# AIOFiles: File support for python's asyncio
aiofiles==24.1.0

# AIOHTTP: Uses asyncio for async/await native coroutines for establishing and handling HTTP connections
aiohttp==3.10.9

# Certifi: Python package for providing Mozilla's CA Bundle
certifi==2024.8.30

# Croniter: Python iterator implementing a cron schedule format
croniter==3.0.3

# discord.py: The python interface for the Discord API
discord.py==2.4.0

# eyeD3: Python module and program for processing ID3 tags (metadata) in MP3 files
eyeD3==0.9.7

# FastAPI: A modern, fast (high-performance), web framework for building APIs with Python 3.6+ based on standard Python type hints
fastapi==0.115.0

# FuzzyWuzzy: Python library that uses Levenshtein Distance to calculate the differences between strings
fuzzywuzzy==0.18.0

# GitPython: Python library for interacting with git repositories
GitPython==3.1.43

# jsonschema: An implementation of JSON Schema for Python
jsonschema==4.23.0

# Matplotlib: Python 2D plotting library
matplotlib==3.9.2

# Minidump: Windows Minidump file reader
minidump==0.0.24; sys_platform == 'win32'

# NumPy: Package for scientific computing with Python
numpy==2.1.2

# Openpyxl: Python library to read/write Excel 2010 xlsx/xlsm/xltx/xltm files
openpyxl==3.1.5

# Pandas: Python data analysis library
pandas==2.2.3

# Packaging: A core package providing support for PEP 440 version identifiers
packaging==24.1

# PID: Pidfile implementation by using a Unix PID file
pid==3.0.4

# Psycopg: PostgreSQL database adapter for Python
psycopg[binary]==3.2.3

# Psycopg Pool: PostgreSQL database adapter pool for Python
psycopg-pool==3.2.3

# PSUtil: Cross-platform library to access system details and process utilities
psutil==6.0.0

# PyArrow: Python library providing high-performance tools for doing analytics on Arrow-based columnar data
pyarrow==17.0.0

# pyKwalify: A Python library for YAML/JSON schema validation
pykwalify==1.8.0

# python-Levenshtein: Python extension for computing string edit distances and similarities
python-Levenshtein==0.26.0

# python-multipart: A library for parsing multipart/form-data input requests
python-multipart==0.0.9

# Pywin32: Set of Python extensions for MS Windows
pywin32==307; sys_platform == 'win32'

# Requests: Python HTTP library
requests==2.32.3

# Rich: Python library for rich text and beautiful formatting in the terminal
rich==13.9.2

# ruamel-yaml: YAML parser/emitter supporting roundtrip comment preservation
ruamel.yaml==0.18.6

# seaborn: Extension for Matplotlib with more and nicer graphics
seaborn==0.13.2

# tomli: Python TOML parser
tomli==2.0.1
tomli_w==1.0.0

# TrueSkill: Python module implementing the TrueSkill rating system
trueskill==0.4.5

# Uvicorn: ASGI server implemented using asyncio and uvloop
uvicorn==0.31.0

# Watchdog: API library and shell utilities to monitor file system events
watchdog==5.0.3
