discord.py==2.3.2
pandas==2.1.4
numpy==1.26.2
matplotlib==3.8.2
psycopg[binary]==3.1.16
psycopg_pool==3.2.0
GitPython==3.1.40
psutil==5.9.7
watchdog==3.0.0
aiohttp==3.9.1
aiofiles==23.2.1
rich==13.7.0
eyeD3==0.9.7
certifi==2023.11.17
fastapi==0.108.0
uvicorn==0.25.0
python-multipart==0.0.6
pypiwin32==223; sys_platform == 'win32'
pywin32==306; sys_platform == 'win32'
minidump==0.0.23; sys_platform == 'win32'
ruamel.yaml==0.18.5
trueskill==0.4.5
croniter==2.0.1