; dcsserverbot.ini.sample

; ============================================================
; THIS FILE CONTAINS A SAMPLE CONFIGURATION FOR DCSSERVERBOT.
; COPY THIS FILE TO dcsserverbot.ini AND CHANGE THE VALUES
; IN THERE TO FIT YOUR NEEDS.
; ============================================================

[BOT]
OWNER = <tbd>
TOKEN = <tbd>
DATABASE_URL = postgres://user:pass@hostname/dbname
COMMAND_PREFIX = .
HOST = 0.0.0.0
PORT = 10081
MASTER = true
AUTOUPDATE = true
AUTOBAN = true
LOGLEVEL = DEBUG
; Optional, audit channel for special events
AUDIT_CHANNEL = 123456789012345678
; Optional, load optional plugins
OPT_PLUGINS = slotblocking, punishment, serverstats, greenieboard

[ROLES]
Admin = Admin
DCS Admin = DCS Admin
DCS = DCS

[FILTER]
; EXAMPLE: Remove "MyGroup |" as a tag from the user names before matching.
;          The matching algorithm can tackle usual tags like [Tag], <Tag> or =Tag= already.
TAG_FILTER = '^MyGroup |'
; EXAMPLE: Remove "My Servers" from the start of each server name.
SERVER_FILTER = ^My Servers
; EXAMPLE: Remove all in brackets from the mission name.
MISSION_FILTER = \(.*\)
; Events that should **not** be gathered. Some functions might not work if the dedicated event is not present!
; Value is a selection of:
;   S_EVENT_SHOT, S_EVENT_HIT, S_EVENT_TAKEOFF, S_EVENT_LAND, S_EVENT_CRASH, S_EVENT_EJECTION, S_EVENT_DEAD,
;   S_EVENT_PILOT_DEAD, S_EVENT_BASE_CAPTURED, S_EVENT_TOOK_CONTROL, S_EVENT_REFUELING_STOP, S_EVENT_BIRTH,
;   S_EVENT_HUMAN_FAILURE, S_EVENT_DETAILED_FAILURE, S_EVENT_ENGINE_STARTUP, S_EVENT_ENGINE_SHUTDOWN,
;   S_EVENT_PLAYER_LEAVE_UNIT, S_EVENT_SHOOTING_START, S_EVENT_SHOOTING_END, S_EVENT_KILL, S_EVENT_UNIT_LOST,
;   S_EVENT_LANDING_AFTER_EJECTION, S_EVENT_PARATROOPER_LENDING, S_EVENT_TRIGGER_ZONE, S_EVENT_LANDING_QUALITY_MARK,
;   S_EVENT_BDA, S_EVENT_MAX
EVENT_FILTER = S_EVENT_TOOK_CONTROL, S_EVENT_BDA, S_EVENT_MAX

[DCS]
DCS_INSTALLATION = %%ProgramFiles%%\\Eagle Dynamics\\DCS World OpenBeta
; SRS_INSTALLATION = %%ProgramFiles%%\\DCS-SimpleRadio-Standalone
GREETING_MESSAGE_MEMBERS = {}, welcome back at {}!
GREETING_MESSAGE_UNKNOWN = {}, please join our discord at ...<tbd>...
SERVER_USER = Admin

; Only needed if your installation is not named DCS (stable installation).
; If you use stable, just add DCS_HOME and the other parameters to the
; DCS-category above.
[DCS.OpenBeta]
DCS_HOST = 127.0.0.1
DCS_PORT = 6666
DCS_HOME = %%USERPROFILE%%\\Saved Games\\DCS.OpenBeta
; SRS_CONFIG = %%ProgramFiles%%\\DCS-SimpleRadio-Standalone\\server.cfg
; SRS_HOST = 127.0.0.1
; SRS_PORT = 5002
STATISTICS = true
MISSION_STATISTICS = true
; These channels have to be replaced with the dedicated discord channel IDs (see README)
CHAT_CHANNEL = 123456789012345678
STATUS_CHANNEL = 123456789012345678
ADMIN_CHANNEL = 123456789012345678
