; dcsserverbot.ini
[BOT]
OWNER = <tbd>
TOKEN = <tbd>
DATABASE_URL = postgres://user:pass@hostname/dbname
COMMAND_PREFIX = .
HOST = 0.0.0.0
PORT = 10081
MASTER = true
AUTOUPDATE = true
AUTOBAN = true

[ROLES]
Admin = Admin
DCS Admin = DCS Admin
DCS = DCS

[FILTER]
; EXAMPLE: remove "My Servers" from the start of each server name
SERVER_FILTER = ^My Servers
; EXAMPLE: remove all in brackets from the mission name
MISSION_FILTER = \(.*\)

[DCS]
DCS_INSTALLATION = %%ProgramFiles%%\\Eagle Dynamics\\DCS World OpenBeta
; SRS_INSTALLATION = %%ProgramFiles%%\\DCS-SimpleRadio-Standalone
GREETING_MESSAGE_MEMBERS = {}, welcome back at {}!
GREETING_MESSAGE_UNKNOWN = {}, please join our discord at ...<tbd>...
SERVER_USER = Admin

; Only needed if your installation is not named DCS (stable installation).
; If this is the case, just add DCS_HOME and the other parameters to the
; DCS-category above.
[DCS.openbeta]
DCS_HOST = 127.0.0.1
DCS_PORT = 6666
DCS_HOME = %%USERPROFILE%%\\Saved Games\\DCS.OpenBeta
; SRS_CONFIG = %%ProgramFiles%%\\DCS-SimpleRadio-Standalone\\server.cfg
; SRS_HOST = 127.0.0.1
; SRS_PORT = 5002
AUTOSTART_DCS = true
; AUTOSTART_SRS = true
STATISTICS = true
