; dcsserverbot.ini.sample

; ============================================================
; THIS FILE CONTAINS A SAMPLE CONFIGURATION FOR DCSSERVERBOT.
; COPY THIS FILE TO dcsserverbot.ini AND CHANGE THE VALUES
; IN THERE TO FIT YOUR NEEDS.
; ============================================================

[BOT]
OWNER = <tbd>
TOKEN = <tbd>
DATABASE_URL = postgres://user:pass@hostname/dbname
COMMAND_PREFIX = .
HOST = 0.0.0.0
PORT = 10081
MASTER = true
AUTOUPDATE = true
AUTOBAN = true
LOGLEVEL = DEBUG
; Optional, audit channel for special events
AUDIT_CHANNEL = 123456789012345678

[ROLES]
Admin = Admin
DCS Admin = DCS Admin
DCS = DCS

[FILTER]
; EXAMPLE: remove "My Servers" from the start of each server name
SERVER_FILTER = ^My Servers
; EXAMPLE: remove all in brackets from the mission name
MISSION_FILTER = \(.*\)

[STATISTICS]
; Number of players to be displayed in the highscore
NUM_HIGHSCORE = 3

[DCS]
DCS_INSTALLATION = %%ProgramFiles%%\\Eagle Dynamics\\DCS World OpenBeta
; SRS_INSTALLATION = %%ProgramFiles%%\\DCS-SimpleRadio-Standalone
GREETING_MESSAGE_MEMBERS = {}, welcome back at {}!
GREETING_MESSAGE_UNKNOWN = {}, please join our discord at ...<tbd>...
SERVER_USER = Admin

; Only needed if your installation is not named DCS (stable installation).
; If this is the case, just add DCS_HOME and the other parameters to the
; DCS-category above.
[DCS.openbeta]
DCS_HOST = 127.0.0.1
DCS_PORT = 6666
DCS_HOME = %%USERPROFILE%%\\Saved Games\\DCS.OpenBeta
; SRS_CONFIG = %%ProgramFiles%%\\DCS-SimpleRadio-Standalone\\server.cfg
; SRS_HOST = 127.0.0.1
; SRS_PORT = 5002
AUTOSTART_DCS = true
; AUTOSTART_SRS = true
STATISTICS = true
; These channels have to be replaced with the dedicated discord channel IDs (see README)
CHAT_CHANNEL = 123456789012345678
STATUS_CHANNEL = 123456789012345678
ADMIN_CHANNEL = 123456789012345678
; ---------------------- Automated Restart ---------------------------
; Restart methods, "restart" = same mission, "rotate" = next mission
; RESTART_METHOD = rotate
; Time in minutes (according to the mission time) when the mission should be restarted / rotated
; RESTART_MISSION_TIME = 240
; Time (in local time), when the mission should be restarted / rotated
; RESTART_LOCAL_TIMES = 00:00, 04:00, 08:00, 12:00, 16:00, 20:00
; Issue warnings, N seconds before the restart takes place
; RESTART_WARN_TIMES = 300, 60, 30
; Message to be sent ({} = time in seconds)
; RESTART_WARN_TEXT = !!! Server will restart in {} seconds !!!
; Servers won't be restarted if populated
; RESTART_OPTIONS = NOT_POPULATED
