{
  "configs": [
    {
      "num_landings": 5,
      "num_rows": 10,
      "persistent_board": false,
      "persistent_channel": "123456789",
      "ratings": {
        "_OK_": 5,
        "OK": 4,
        "(OK)": 3,
        "B": 2.5,
        "--": 2,
        "OWO": 2,
        "WO": 1,
        "C": 0
      },
      "FunkMan": {
        "install": "../FunkMan",
        "IMAGEPATH": "../FunkMan/funkpics/"
      }
    },
    {
      "installation": "DCS.openbeta_server",
      "Moose.AIRBOSS": {
        "basedir": "airboss",
        "grades": "AIRBOSS-{carrier}_LSOGrades.csv",
        "trapsheets": "*AIRBOSS-{carrier}_Trapsheet-{name}_{unit_type}*.csv"
      }
    },
    {
      "installation": "instance2",
      "FunkMan": {
        "basedir": "trapsheets"
      }
    }
  ]
}
