{
  "configs": [
    {
      "SavedGames": "%USERPROFILE%\\Documents\\OvGME\\SavedGames",
      "RootFolder": "%USERPROFILE%\\Documents\\OvGME\\RootFolder"
    },
    {
      "installation": "DCS.openbeta_server",
      "packages": [
          {"name": "Community_A-4E-C", "version": "2.0.1", "source": "SavedGames"}
      ]
    },
    {
      "installation": "instance2",
      "packages": [
          {"name": "Community_A-4E-C", "version": "latest", "source": "SavedGames"}
      ]
    }
  ]
}
