{
  "configs": [
    {
      "warn": {
        "times": [ 600, 300, 60, 10],
        "text": "!!! Server will restart in {} seconds !!!"
      }
    },
    {
      "installation": "DCS.openbeta_server",
      "schedule": {"00-24": "YYYYYYY"}
    },
    {
      "installation": "mission",
      "schedule": {"18-21": "NNNNNNY"}
    },
    {
      "installation": "instance2",
      "schedule": {"00-12": "YYYYYYY", "12-24": "NNNNNNN"}
      "restart": {
        "method": "rotate",
        "local_times": ["00:00", "04:00", "08:00", "12:00", "16:00", "20:00"],
        "populated": true,
        "shutdown": true
      }
    },
    {
      "installation": "instance3",
      "schedule": {"00-12": "NNNNNNN", "12-24": "YYYYYYY"}
      "restart": {
        "method": "rotate",
        "mission_time": 480,
        "populated": false
      }
    }
  ]
}
