{
  "configs": [
    {
      "warn": {
        "times": [ 600, 300, 60, 10],
        "text": "!!! {item} will {what} in {when} !!!"
      },
      "presets": {
        "Winter": {"date": "2016-01-10", "temperature": -10},
        "Summer": {"date": "2016-07-26", "temperature": 22},
        "Nighttime": {"start_time": "03:00"},
        "Morning": {"start_time": "08:00"},
        "Noon": {"start_time": "12:00"},
        "Evening": {"start_time": "18:00"},
        "Late Evening": {"start_time": "22:00"},
        "Slight Breeze":  {"clouds": "Preset1", "wind": {"at8000":  {"speed": 10, "dir":  105}, "at2000": {"speed": 10, "dir": 130}, "atGround": {"speed": 5, "dir": 20}}},
        "Rainy":  {"clouds": "RainyPreset1", "wind": {"at8000":  {"speed": 10, "dir":  105}, "at2000": {"speed": 10, "dir": 130}, "atGround": {"speed": 5, "dir": 20}}},
        "Heavy Storm": {"clouds": "RainyPreset3", "wind": {"at8000":  {"speed": 25, "dir": 305}, "at2000": {"speed": 20, "dir": 280}, "atGround": {"speed": 15, "dir": 290}}}
      },
      "extensions": {
        "SRS": {
          "installation": "%ProgramFiles%\\DCS-SimpleRadio-Standalone"
        },
        "Tacview": {
          "path": "%USERPROFILE%\\Documents\\Tacview",
          "delete_after": 30
        }
      }
    },
    {
      "installation": "DCS.openbeta_server",
      "affinity": [2, 3],
      "schedule": {"00-24": "YYYYYYY"}
    },
    {
      "installation": "mission",
      "schedule": {"18:00": "NNNNNNY"},
      "extensions": {
        "SRS": {
          "config": "%USERPROFILE%\\Saved Games\\mission\\Config\\SRS.cfg"
        },
        "Tacview": {
          "show_passwords": false
        }
      }
    },
    {
      "installation": "instance2",
      "schedule": {"00-12": "YYYYYYY", "12-24": "NNNNNNN"},
      "restart": {
        "method": "rotate",
        "local_times": ["00:00", "04:00", "08:00"],
        "populated": true,
        "settings": {
          "00:00-07:59": "Winter,Nighttime",
          "08:00-11:59": "Summer,Noon"
        }
      },
      "extensions": {
        "SRS": {
          "config": "%USERPROFILE%\\Saved Games\\instance2\\Config\\SRS.cfg"
        }
      },
      "onMissionStart": "load:Scripts/net/start.lua",
      "onMissionEnd": "load:Scripts/net/end.lua",
      "onShutdown": "run:shutdown /r"
    },
    {
      "installation": "instance3",
      "schedule": {"00-12": "NNNNNNN", "12-24": "YYYYYYY"},
      "restart": {
        "method": "restart_with_shutdown",
        "mission_time": 480,
        "populated": false,
        "settings": [
          "Winter,Late Evening,Heavy Storm",
          "Summer,Morning,Slight Breeze"
        ]
      },
      "extensions": {
        "SRS": {
          "config": "%USERPROFILE%\\Saved Games\\instance3\\Config\\SRS.cfg"
        }
      }
    }
  ]
}
