{
  "configs": [
    {
      "VIP": {
        "slots": 2,
        "discord": ["Admin", "DCS Admin"],
        "audit": true
      },
      "restricted": [
        { "unit_type": "artillery_commander", "discord": "Donators", "message": "This slot is reserved for Donators!" },
        { "unit_type": "forward_observer", "discord": "Donators", "message": "This slot is reserved for Donators!" },
        { "unit_type": "instructor", "discord": "Donators", "message": "This slot is reserved for Donators!" },
        { "unit_type": "observer", "discord": "@everyone", "message": "This slot is reserved for members of http://invite.link!" }
      ]
    },
    {
      "installation": "DCS.openbeta_server",
      "use_reservations": true,
      "restricted": [
        { "group_name": "Rookie", "points": 10, "costs": 10 },
        { "group_name": "Veteran", "points": 20, "costs": 10 },
        { "group_name": "Ace", "points": 50, "costs": 30 }
      ]
    }
  ]
}
