{
    "restricted": [
      {
        "group_name": "Rookie",
        "points": 10,
        "costs": 10
      },
      {
        "group_name": "Veteran",
        "points": 20,
        "costs": 10
      },
      {
        "group_name": "Ace",
        "points": 50,
        "costs": 30
      },
      {
        "unit_name": "Special",
        "discord": "Admin"
      }
    ]
}
